body {
    height: 100vh;
    width: 100vw;
    background-color: white;
}

/* header */

.header {
    border-style: solid;
    height: 30vh;
    width: 98.5vw;
    background-color: white;
    margin-bottom: 10px;
}

.purple-rectangle {
    margin-left: 40px;
    margin-top: 40px;
    height: 100px;
    width: 50px;
    background-color: rgb(106, 56, 119);
    display: inline-block;
}

.green-rectangle {
    margin-left: 100px;
    margin-top: 10px;
    height: 150px;
    width: 400px;
    background-color: rgb(22, 103, 22);
    display: inline-block;
}

.lightblue-circle {
    margin-left: 150px;
    margin-top: 10px;
    height: 150px;
    width: 150px;
    background-color: lightblue;
    border-radius: 180%;
    display: inline-block;
}

/* middle */

.middle {
    border-style: dotted;
    height: 30vh;
    width: 98.5vw;
    background-color: white;
    margin-bottom: 10px;
}

.yellow-rectangle {
    margin-left: 50px;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 1000px;
    background-color: rgb(255, 255, 204);
    box-shadow: 5px 5px;
}

/* footer */

.footer{
    height: 30vh;
    width: 98.5vw;
    background-color: white;
    margin-bottom: 10px;
}

.white-box {
    border-style: solid;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 500px;
    text-align: center;
    vertical-align: center;
    background-color: white;
}

.words-in-white-box {
    display: inline-block;
    padding-top: 8vh;
    padding-left: auto;
    padding-right: auto; 
}

h1 {
    font-size: 30px;
    line-height: 10px;
    color: rgb(34, 34, 111);
}